<main>
  <div class="container">
    <!-- LEFT -->
    <div class="left">
      <a class="profile">
        <div class="profile-picture">
          <img src="../assets/imgs/profile-picture-placeholder.jpg" />
        </div>
        <div class="handle">
          <h4>Laslo Uri</h4>
          <p class="text-muted">@laslo_uri</p>
        </div>
      </a>

      <!--------------------SIDEBAR-->
      <div class="sidebar">
        <a class="menu-item active">
          <span> <i class="uil uil-home"></i></span>
          <h3>Home</h3>
        </a>
        <a class="menu-item">
          <span> <i class="uil uil-compass"></i></span>
          <h3>Explore</h3>
        </a>
        <a class="menu-item" id="notifications">
          <span>
            <i class="uil uil-bell">
              <small class="notification-count">9+</small></i
            >
          </span>
          <h3>Notifications</h3>
          <!--- Notification pop-ups-->
          <div class="notification-popup">
            <div>
              <div class="profile-picture">
                <img src="../assets/imgs/profile-picture-placeholder-2.jpg" />
              </div>
              <div class="notification-body">
                <b> Margot Robbie </b> accepted your firend request
                <small class="text-muted"> 2 DAYS AGO</small>
              </div>
            </div>
            <div>
              <div class="profile-picture">
                <img src="../assets/imgs/profile-picture-placeholder-2.jpg" />
              </div>
              <div class="notification-body">
                <b> Margot Robbie </b> accepted your firend request
                <small class="text-muted"> 2 DAYS AGO</small>
              </div>
            </div>
            <div>
              <div class="profile-picture">
                <img src="../assets/imgs/profile-picture-placeholder-2.jpg" />
              </div>
              <div class="notification-body">
                <b> Margot Robbie </b> accepted your firend request
                <small class="text-muted"> 2 DAYS AGO</small>
              </div>
            </div>
            <div>
              <div class="profile-picture">
                <img src="../assets/imgs/profile-picture-placeholder-2.jpg" />
              </div>
              <div class="notification-body">
                <b> Margot Robbie </b> accepted your firend request
                <small class="text-muted"> 2 DAYS AGO</small>
              </div>
            </div>
          </div>
        </a>

        <a class="menu-item">
          <span> <i class="uil uil-bookmark"></i></span>
          <h3>Bookmarks</h3>
        </a>
        <a class="menu-item">
          <span> <i class="uil uil-diary"></i></span>
          <h3>Diary</h3>
        </a>
        <a class="menu-item">
          <span> <i class="uil uil-palette"></i></span>
          <h3>Preferences</h3>
        </a>
        <a class="menu-item">
          <span> <i class="uil uil-setting"></i></span>
          <h3>Settings</h3>
        </a>

        <!--- Notification pop-ups-->
      </div>
      <label for="create-post" class="btn btn-primary">Create Post</label>
    </div>
    <!-- MIDDLE -->
    <div class="middle"></div>

    <!-- RIGHT -->
    <div class="right"></div>
  </div>
</main>
