@keyframes tipsy {
  from {
    transform: translateX(-15%) translateY(-50%) rotate(0deg);
  }
  100% {
    transform: translateX(-15%) translateY(-50%) rotate(360deg);
  }
}
@keyframes turner {
  from {
    z-index: -1;
  }
  100% {
    z-index: 1;
  }
}
