<nav>
  <div class="container">
    <!--<h2 class="logo">CritiComrade</h2>-->

    <div
      class="title"
      style="
        display: flex;
        flex-direction: row;
        align-items: center;
        color: var(--color-default-red);
        font-weight: bold;
        letter-spacing: -1px;
      "
    >
      <div class="logo">
        <img width="30px" src="../assets/imgs/logo.ico" />
      </div>
      <div style="margin-left: -6px">riti</div>
      <div style="margin-left: 2px">
        <img width="15px" src="../assets/imgs/logo.ico" />
      </div>
      <div>omrade</div>
    </div>

    <div class="search-bar">
      <i class="uil uil-search"></i>

      <input
        height="20px"
        type="search"
        placeholder="Search..."
        autocomplete="off"
      />
    </div>
    <div class="create">
      <label class="btn btn-primary" for="create-post">Create</label>
      <div class="profile-picture">
        <img src="../assets/imgs/profile-picture-placeholder.jpg" />
      </div>
    </div>
  </div>
</nav>

<app-home> </app-home>

<router-outlet></router-outlet>
