<div class="navbar">
  <div class="container">
    <app-logo></app-logo>
    <app-search-bar></app-search-bar>

    <!-- Review button -->
    <div style="display: flex !important; align-items: center; gap: 2rem">
      <label class="btn btn-primary" for="review">Review</label>
    </div>

    <!-- Profile picture -->
    <div style="display: flex !important; align-items: center; gap: 2rem">
      <div class="profile-picture">
        <img src="../assets/imgs/profile-picture-placeholder.jpg" />
      </div>
    </div>
  </div>
</div>
